{
  "swagger" : "2.0",
  "info" : {
    "description" : "Domainrobot JSON API for managing: Domains, SSL\n\t\t\t\t\t\t\t\t\t\t\tCertificates, DNS and\n\t\t\t\t\t\t\t\t\t\t\tmuch more.",
    "version" : "v1",
    "title" : "Domainrobot JSON API"
  },
  "host" : "api.autodns.com",
  "basePath" : "/v1",
  "tags" : [ {
    "name" : "BackupMx Tasks"
  }, {
    "name" : "BackupMx bulk Tasks"
  }, {
    "name" : "Certificate Tasks"
  }, {
    "name" : "Contact Tasks"
  }, {
    "name" : "ContactVerification Tasks"
  }, {
    "name" : "Document Tasks"
  }, {
    "name" : "Domain Bulk Tasks"
  }, {
    "name" : "Domain Search"
  }, {
    "name" : "Domain Tasks"
  }, {
    "name" : "Guest account tasks"
  }, {
    "name" : "Id4me agent tasks"
  }, {
    "name" : "Id4me identity tasks"
  }, {
    "name" : "Invoice Tasks"
  }, {
    "name" : "InvoiceInfo tasks"
  }, {
    "name" : "Job Tasks"
  }, {
    "name" : "MailProxy Tasks"
  }, {
    "name" : "MailProxy bulk Tasks"
  }, {
    "name" : "Poll Tasks"
  }, {
    "name" : "Redirect Tasks"
  }, {
    "name" : "Redirect bulk Tasks"
  }, {
    "name" : "Session Tasks"
  }, {
    "name" : "SslContact Tasks"
  }, {
    "name" : "Subscription Tasks"
  }, {
    "name" : "Transfer Request Tasks"
  }, {
    "name" : "TrustedApplication Tasks"
  }, {
    "name" : "User 2fa tasks"
  }, {
    "name" : "User Tasks"
  }, {
    "name" : "User verification confirm"
  }, {
    "name" : "Zone Bulk Tasks"
  }, {
    "name" : "Zone Tasks"
  }, {
    "name" : "backupMx Tasks"
  }, {
    "name" : "contactVerification history Tasks"
  } ],
  "schemes" : [ "https" ],
  "paths" : {
    "/OTPAuth" : {
      "get" : {
        "tags" : [ "User 2fa tasks" ],
        "summary" : "Gets the token-configuration of the logged in user.",
        "description" : "",
        "operationId" : "otpAuthInfo",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Domainrobot-Pin",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-User",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Demo",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-SessionId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-WS",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Bulk-Limit",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "originalRef" : "JsonResponseDataOTPAuth",
              "$ref" : "#/definitions/JsonResponseDataOTPAuth"
            },
            "responseSchema" : {
              "originalRef" : "JsonResponseDataOTPAuth",
              "$ref" : "#/definitions/JsonResponseDataOTPAuth"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "User 2fa tasks" ],
        "summary" : "Creates a temporary token for the logged in user. The response contains the qr code as a base64 image.",
        "description" : "",
        "operationId" : "otpAuthCreate",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Domainrobot-Pin",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-User",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Demo",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-SessionId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-WS",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Bulk-Limit",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "originalRef" : "JsonResponseDataOTPAuth",
              "$ref" : "#/definitions/JsonResponseDataOTPAuth"
            },
            "responseSchema" : {
              "originalRef" : "JsonResponseDataOTPAuth",
              "$ref" : "#/definitions/JsonResponseDataOTPAuth"
            }
          }
        }
      }
    },
    "/backupMx" : {
      "post" : {
        "tags" : [ "backupMx Tasks" ],
        "summary" : "Create BackupMx",
        "description" : "Create a new backup mx.",
        "operationId" : "backupMxCreate",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Domainrobot-Pin",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-User",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Demo",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-SessionId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-WS",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Bulk-Limit",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "backupMx",
          "required" : false,
          "schema" : {
            "originalRef" : "BackupMx",
            "$ref" : "#/definitions/BackupMx"
          }
        }, {
          "name" : "keys",
          "in" : "query",
          "description" : "If the dns should be provisioned if available.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string",
            "example" : "?keys[]=dnsProvisioning"
          },
          "collectionFormat" : "multi",
          "x-example" : "?keys[]=dnsProvisioning"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "originalRef" : "JsonResponseDataJsonNoData",
              "$ref" : "#/definitions/JsonResponseDataJsonNoData"
            },
            "responseSchema" : {
              "originalRef" : "JsonResponseDataJsonNoData",
              "$ref" : "#/definitions/JsonResponseDataJsonNoData"
            }
          }
        }
      }
    },
    "/backupMx/_search" : {
      "post" : {
        "tags" : [ "BackupMx Tasks" ],
        "summary" : "List BackupMx",
        "description" : "Inquire a list of backup mx's with certain details. The data to be displayed can be extended per url paremeter.",
        "operationId" : "backupMxList",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Domainrobot-Pin",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-User",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Demo",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-SessionId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-WS",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Bulk-Limit",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "query",
          "required" : false,
          "schema" : {
            "originalRef" : "Query",
            "$ref" : "#/definitions/Query"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "originalRef" : "JsonResponseDataBackupMx",
              "$ref" : "#/definitions/JsonResponseDataBackupMx"
            },
            "responseSchema" : {
              "originalRef" : "JsonResponseDataBackupMx",
              "$ref" : "#/definitions/JsonResponseDataBackupMx"
            }
          }
        }
      }
    },
    "/backupMx/{domain}" : {
      "get" : {
        "tags" : [ "BackupMx Tasks" ],
        "summary" : "Get BackupMx",
        "description" : "Inquire the data for the specified backup mx.",
        "operationId" : "backupMxInfo",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Domainrobot-Pin",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-User",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Demo",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-SessionId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-WS",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Bulk-Limit",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "domain",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "originalRef" : "JsonResponseDataBackupMx",
              "$ref" : "#/definitions/JsonResponseDataBackupMx"
            },
            "responseSchema" : {
              "originalRef" : "JsonResponseDataBackupMx",
              "$ref" : "#/definitions/JsonResponseDataBackupMx"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "BackupMx Tasks" ],
        "summary" : "Delete BackupMx",
        "description" : "Delete an existing backup mx.",
        "operationId" : "backupMxDelete",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Domainrobot-Pin",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-User",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Demo",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-SessionId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-WS",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Bulk-Limit",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "domain",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "keys",
          "in" : "query",
          "description" : "If the dns should be provisioned if available.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string",
            "example" : "?keys[]=dnsProvisioning"
          },
          "collectionFormat" : "multi",
          "x-example" : "?keys[]=dnsProvisioning"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "originalRef" : "JsonResponseDataJsonNoData",
              "$ref" : "#/definitions/JsonResponseDataJsonNoData"
            },
            "responseSchema" : {
              "originalRef" : "JsonResponseDataJsonNoData",
              "$ref" : "#/definitions/JsonResponseDataJsonNoData"
            }
          }
        }
      }
    },
    "/bulk/backupMx" : {
      "post" : {
        "tags" : [ "BackupMx bulk Tasks" ],
        "summary" : "Create BackupMxs",
        "description" : "Create new backupMxs.",
        "operationId" : "backupMxCreates",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Domainrobot-Pin",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-User",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Demo",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-SessionId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-WS",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Bulk-Limit",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "backupMxs",
          "required" : false,
          "schema" : {
            "originalRef" : "BulkBackupMxPostRequest",
            "$ref" : "#/definitions/BulkBackupMxPostRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "originalRef" : "JsonResponseDataListJsonResponseDataBackupMx",
              "$ref" : "#/definitions/JsonResponseDataListJsonResponseDataBackupMx"
            },
            "responseSchema" : {
              "originalRef" : "JsonResponseDataListJsonResponseDataBackupMx",
              "$ref" : "#/definitions/JsonResponseDataListJsonResponseDataBackupMx"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "BackupMx bulk Tasks" ],
        "summary" : "Delete BackupMxs",
        "description" : "Delete existing backupMxs.",
        "operationId" : "backupMxDeletes",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Domainrobot-Pin",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-User",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Demo",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-SessionId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-WS",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Bulk-Limit",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "sources",
          "required" : false,
          "schema" : {
            "originalRef" : "BulkBackupMxDeleteRequest",
            "$ref" : "#/definitions/BulkBackupMxDeleteRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "originalRef" : "JsonResponseDataListJsonResponseDataBackupMx",
              "$ref" : "#/definitions/JsonResponseDataListJsonResponseDataBackupMx"
            },
            "responseSchema" : {
              "originalRef" : "JsonResponseDataListJsonResponseDataBackupMx",
              "$ref" : "#/definitions/JsonResponseDataListJsonResponseDataBackupMx"
            }
          }
        }
      }
    },
    "/bulk/domain" : {
      "post" : {
        "tags" : [ "Domain Bulk Tasks" ],
        "summary" : "Create Domains",
        "description" : "Create a domain.",
        "operationId" : "domainCreates",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Domainrobot-Pin",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-User",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Demo",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-SessionId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-WS",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Bulk-Limit",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "domains",
          "required" : false,
          "schema" : {
            "originalRef" : "BulkDomainPostRequest",
            "$ref" : "#/definitions/BulkDomainPostRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "originalRef" : "JsonResponseDataListJsonResponseDataDomain",
              "$ref" : "#/definitions/JsonResponseDataListJsonResponseDataDomain"
            },
            "responseSchema" : {
              "originalRef" : "JsonResponseDataListJsonResponseDataDomain",
              "$ref" : "#/definitions/JsonResponseDataListJsonResponseDataDomain"
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Domain Bulk Tasks" ],
        "summary" : "Update Domains",
        "description" : "Update existings domain.",
        "operationId" : "domainPatch",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Domainrobot-Pin",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-User",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Demo",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-SessionId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-WS",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Bulk-Limit",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "domains",
          "required" : false,
          "schema" : {
            "originalRef" : "BulkDomainPatchRequest",
            "$ref" : "#/definitions/BulkDomainPatchRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "originalRef" : "JsonResponseDataListJsonResponseDataDomain",
              "$ref" : "#/definitions/JsonResponseDataListJsonResponseDataDomain"
            },
            "responseSchema" : {
              "originalRef" : "JsonResponseDataListJsonResponseDataDomain",
              "$ref" : "#/definitions/JsonResponseDataListJsonResponseDataDomain"
            }
          }
        }
      }
    },
    "/bulk/domain/_authinfo1" : {
      "post" : {
        "tags" : [ "Domain Bulk Tasks" ],
        "summary" : "Create Domain Authinfo1s",
        "description" : "Create an authinfo1 for the specified domains.",
        "operationId" : "domainAuthinfoCreate",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Domainrobot-Pin",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-User",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Demo",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-SessionId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-WS",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Bulk-Limit",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "domains",
          "required" : false,
          "schema" : {
            "originalRef" : "BulkDomainDeleteRequest",
            "$ref" : "#/definitions/BulkDomainDeleteRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "originalRef" : "JsonResponseDataListJsonResponseDataDomain",
              "$ref" : "#/definitions/JsonResponseDataListJsonResponseDataDomain"
            },
            "responseSchema" : {
              "originalRef" : "JsonResponseDataListJsonResponseDataDomain",
              "$ref" : "#/definitions/JsonResponseDataListJsonResponseDataDomain"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Domain Bulk Tasks" ],
        "summary" : "Delete Domain Authinfo1s",
        "description" : "Delete an authinfo1 for the specified domains.",
        "operationId" : "domainAuthinfoDelete",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Domainrobot-Pin",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-User",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Demo",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-SessionId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-WS",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Bulk-Limit",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "domains",
          "required" : false,
          "schema" : {
            "originalRef" : "BulkDomainDeleteRequest",
            "$ref" : "#/definitions/BulkDomainDeleteRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "originalRef" : "JsonResponseDataListJsonResponseDataDomain",
              "$ref" : "#/definitions/JsonResponseDataListJsonResponseDataDomain"
            },
            "responseSchema" : {
              "originalRef" : "JsonResponseDataListJsonResponseDataDomain",
              "$ref" : "#/definitions/JsonResponseDataListJsonResponseDataDomain"
            }
          }
        }
      }
    },
    "/bulk/domain/_authinfo2" : {
      "post" : {
        "tags" : [ "Domain Bulk Tasks" ],
        "summary" : "Create Domain Authinfo2s",
        "description" : "Create an authinfo2 for the specified domains.",
        "operationId" : "domainAuthinfo2Create",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Domainrobot-Pin",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-User",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Demo",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-SessionId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-WS",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Bulk-Limit",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "domains",
          "required" : false,
          "schema" : {
            "originalRef" : "BulkDomainDeleteRequest",
            "$ref" : "#/definitions/BulkDomainDeleteRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "originalRef" : "JsonResponseDataListJsonResponseDataDomain",
              "$ref" : "#/definitions/JsonResponseDataListJsonResponseDataDomain"
            },
            "responseSchema" : {
              "originalRef" : "JsonResponseDataListJsonResponseDataDomain",
              "$ref" : "#/definitions/JsonResponseDataListJsonResponseDataDomain"
            }
          }
        }
      }
    },
    "/bulk/domain/_buy" : {
      "post" : {
        "tags" : [ "Domain Bulk Tasks" ],
        "summary" : "Buy Domain",
        "description" : "Buy a domains.",
        "operationId" : "domainBuy",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Domainrobot-Pin",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-User",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Demo",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-SessionId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-WS",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Bulk-Limit",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "domains",
          "required" : false,
          "schema" : {
            "originalRef" : "BulkDomainDeleteRequest",
            "$ref" : "#/definitions/BulkDomainDeleteRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "originalRef" : "JsonResponseDataListJsonResponseDataDomain",
              "$ref" : "#/definitions/JsonResponseDataListJsonResponseDataDomain"
            },
            "responseSchema" : {
              "originalRef" : "JsonResponseDataListJsonResponseDataDomain",
              "$ref" : "#/definitions/JsonResponseDataListJsonResponseDataDomain"
            }
          }
        }
      }
    },
    "/bulk/domain/_comment" : {
      "put" : {
        "tags" : [ "Domain Bulk Tasks" ],
        "summary" : "Update Domain Comment",
        "description" : "Update an existing domain.",
        "operationId" : "domainUpdateComments",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Domainrobot-Pin",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-User",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Demo",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-SessionId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-WS",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Bulk-Limit",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "domains",
          "required" : false,
          "schema" : {
            "originalRef" : "BulkDomainCommentRequest",
            "$ref" : "#/definitions/BulkDomainCommentRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "originalRef" : "JsonResponseDataListJsonResponseDataDomain",
              "$ref" : "#/definitions/JsonResponseDataListJsonResponseDataDomain"
            },
            "responseSchema" : {
              "originalRef" : "JsonResponseDataListJsonResponseDataDomain",
              "$ref" : "#/definitions/JsonResponseDataListJsonResponseDataDomain"
            }
          }
        }
      }
    },
    "/bulk/domain/_renew" : {
      "put" : {
        "tags" : [ "Domain Bulk Tasks" ],
        "summary" : "Renew Domains",
        "description" : "Renew an existing domain.",
        "operationId" : "domainRenews",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Domainrobot-Pin",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-User",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Demo",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-SessionId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-WS",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Bulk-Limit",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "domains",
          "required" : false,
          "schema" : {
            "originalRef" : "BulkDomainCommentRequest",
            "$ref" : "#/definitions/BulkDomainCommentRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "originalRef" : "JsonResponseDataListJsonResponseDataDomain",
              "$ref" : "#/definitions/JsonResponseDataListJsonResponseDataDomain"
            },
            "responseSchema" : {
              "originalRef" : "JsonResponseDataListJsonResponseDataDomain",
              "$ref" : "#/definitions/JsonResponseDataListJsonResponseDataDomain"
            }
          }
        }
      }
    },
    "/bulk/domain/_restore" : {
      "put" : {
        "tags" : [ "Domain Bulk Tasks" ],
        "summary" : "Restore Domains",
        "description" : "Restores an existing domain.",
        "operationId" : "domainRestores",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Domainrobot-Pin",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-User",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Demo",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-SessionId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-WS",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Bulk-Limit",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "domains",
          "required" : false,
          "schema" : {
            "originalRef" : "BulkDomainCommentRequest",
            "$ref" : "#/definitions/BulkDomainCommentRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "originalRef" : "JsonResponseDataListJsonResponseDataDomain",
              "$ref" : "#/definitions/JsonResponseDataListJsonResponseDataDomain"
            },
            "responseSchema" : {
              "originalRef" : "JsonResponseDataListJsonResponseDataDomain",
              "$ref" : "#/definitions/JsonResponseDataListJsonResponseDataDomain"
            }
          }
        }
      }
    },
    "/bulk/domain/_transfer" : {
      "post" : {
        "tags" : [ "Domain Bulk Tasks" ],
        "summary" : "Transfer Domains",
        "description" : "Create a domain.",
        "operationId" : "domainTransfers",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Domainrobot-Pin",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-User",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Demo",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-SessionId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-WS",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Bulk-Limit",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "domains",
          "required" : false,
          "schema" : {
            "originalRef" : "BulkDomainPostRequest",
            "$ref" : "#/definitions/BulkDomainPostRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "originalRef" : "JsonResponseDataListJsonResponseDataDomain",
              "$ref" : "#/definitions/JsonResponseDataListJsonResponseDataDomain"
            },
            "responseSchema" : {
              "originalRef" : "JsonResponseDataListJsonResponseDataDomain",
              "$ref" : "#/definitions/JsonResponseDataListJsonResponseDataDomain"
            }
          }
        }
      }
    },
    "/bulk/domain/cancelation" : {
      "post" : {
        "tags" : [ "Domain Bulk Tasks" ],
        "summary" : "Create Domain Cancelations",
        "description" : "Create a domain.",
        "operationId" : "domainCancelationCreates",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Domainrobot-Pin",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-User",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Demo",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-SessionId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-WS",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Bulk-Limit",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "cancelations",
          "required" : false,
          "schema" : {
            "originalRef" : "BulkDomainCancelationPostRequest",
            "$ref" : "#/definitions/BulkDomainCancelationPostRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "originalRef" : "JsonResponseDataListJsonResponseDataDomainCancelation",
              "$ref" : "#/definitions/JsonResponseDataListJsonResponseDataDomainCancelation"
            },
            "responseSchema" : {
              "originalRef" : "JsonResponseDataListJsonResponseDataDomainCancelation",
              "$ref" : "#/definitions/JsonResponseDataListJsonResponseDataDomainCancelation"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Domain Bulk Tasks" ],
        "summary" : "Delete DomainCancelations",
        "description" : "Delete an existing cancelation for the specified domain.",
        "operationId" : "domainCancelationDelete",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Domainrobot-Pin",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-User",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Demo",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-SessionId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-WS",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Bulk-Limit",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "cancelations",
          "required" : false,
          "schema" : {
            "originalRef" : "BulkDomainCancelationDeleteRequest",
            "$ref" : "#/definitions/BulkDomainCancelationDeleteRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "originalRef" : "JsonResponseDataListJsonResponseDataDomainCancelation",
              "$ref" : "#/definitions/JsonResponseDataListJsonResponseDataDomainCancelation"
            },
            "responseSchema" : {
              "originalRef" : "JsonResponseDataListJsonResponseDataDomainCancelation",
              "$ref" : "#/definitions/JsonResponseDataListJsonResponseDataDomainCancelation"
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Domain Bulk Tasks" ],
        "summary" : "Update Domains Cancelations ",
        "description" : "Update existings domain cancelations.",
        "operationId" : "domainCancelationPatch",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Domainrobot-Pin",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-User",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Demo",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-SessionId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-WS",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Bulk-Limit",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "cancelations",
          "required" : false,
          "schema" : {
            "originalRef" : "BulkDomainCancelationPatchRequest",
            "$ref" : "#/definitions/BulkDomainCancelationPatchRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "originalRef" : "JsonResponseDataListJsonResponseDataDomainCancelation",
              "$ref" : "#/definitions/JsonResponseDataListJsonResponseDataDomainCancelation"
            },
            "responseSchema" : {
              "originalRef" : "JsonResponseDataListJsonResponseDataDomainCancelation",
              "$ref" : "#/definitions/JsonResponseDataListJsonResponseDataDomainCancelation"
            }
          }
        }
      }
    },
    "/bulk/mailProxy" : {
      "post" : {
        "tags" : [ "MailProxy bulk Tasks" ],
        "summary" : "Create MailProxys",
        "description" : "Create new mailProxys.",
        "operationId" : "mailProxyCreates",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Domainrobot-Pin",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-User",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Demo",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-SessionId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-WS",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Bulk-Limit",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "mailProxys",
          "required" : false,
          "schema" : {
            "originalRef" : "BulkMailProxyPostRequest",
            "$ref" : "#/definitions/BulkMailProxyPostRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "originalRef" : "JsonResponseDataListJsonResponseDataMailProxy",
              "$ref" : "#/definitions/JsonResponseDataListJsonResponseDataMailProxy"
            },
            "responseSchema" : {
              "originalRef" : "JsonResponseDataListJsonResponseDataMailProxy",
              "$ref" : "#/definitions/JsonResponseDataListJsonResponseDataMailProxy"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "MailProxy bulk Tasks" ],
        "summary" : "Delete MailProxys",
        "description" : "Delete existing mailProxys.",
        "operationId" : "mailProxyDeletes",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Domainrobot-Pin",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-User",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Demo",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-SessionId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-WS",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Bulk-Limit",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "sources",
          "required" : false,
          "schema" : {
            "originalRef" : "BulkMailProxyDeleteRequest",
            "$ref" : "#/definitions/BulkMailProxyDeleteRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "originalRef" : "JsonResponseDataListJsonResponseDataMailProxy",
              "$ref" : "#/definitions/JsonResponseDataListJsonResponseDataMailProxy"
            },
            "responseSchema" : {
              "originalRef" : "JsonResponseDataListJsonResponseDataMailProxy",
              "$ref" : "#/definitions/JsonResponseDataListJsonResponseDataMailProxy"
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "MailProxy bulk Tasks" ],
        "summary" : "Update MailProxy",
        "description" : "Update an existing mailProxy.",
        "operationId" : "mailProxyPatch",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Domainrobot-Pin",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-User",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Demo",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-SessionId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-WS",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Bulk-Limit",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "sources",
          "required" : false,
          "schema" : {
            "originalRef" : "BulkMailProxyPatchRequest",
            "$ref" : "#/definitions/BulkMailProxyPatchRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "originalRef" : "JsonResponseDataListJsonResponseDataMailProxy",
              "$ref" : "#/definitions/JsonResponseDataListJsonResponseDataMailProxy"
            },
            "responseSchema" : {
              "originalRef" : "JsonResponseDataListJsonResponseDataMailProxy",
              "$ref" : "#/definitions/JsonResponseDataListJsonResponseDataMailProxy"
            }
          }
        }
      }
    },
    "/bulk/redirect" : {
      "post" : {
        "tags" : [ "Redirect bulk Tasks" ],
        "summary" : "Create Redirects",
        "description" : "Create new redirects.",
        "operationId" : "redirectCreates",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Domainrobot-Pin",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-User",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Demo",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-SessionId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-WS",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Bulk-Limit",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "redirects",
          "required" : false,
          "schema" : {
            "originalRef" : "BulkRedirectPostRequest",
            "$ref" : "#/definitions/BulkRedirectPostRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "originalRef" : "JsonResponseDataListJsonResponseDataRedirect",
              "$ref" : "#/definitions/JsonResponseDataListJsonResponseDataRedirect"
            },
            "responseSchema" : {
              "originalRef" : "JsonResponseDataListJsonResponseDataRedirect",
              "$ref" : "#/definitions/JsonResponseDataListJsonResponseDataRedirect"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Redirect bulk Tasks" ],
        "summary" : "Delete Redirects",
        "description" : "Delete existing redirects.",
        "operationId" : "redirectDeletes",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Domainrobot-Pin",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-User",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Demo",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-SessionId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-WS",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Bulk-Limit",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "sources",
          "required" : false,
          "schema" : {
            "originalRef" : "BulkRedirectDeleteRequest",
            "$ref" : "#/definitions/BulkRedirectDeleteRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "originalRef" : "JsonResponseDataListJsonResponseDataRedirect",
              "$ref" : "#/definitions/JsonResponseDataListJsonResponseDataRedirect"
            },
            "responseSchema" : {
              "originalRef" : "JsonResponseDataListJsonResponseDataRedirect",
              "$ref" : "#/definitions/JsonResponseDataListJsonResponseDataRedirect"
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Redirect bulk Tasks" ],
        "summary" : "Update Redirect",
        "description" : "Update an existing redirect.",
        "operationId" : "redirectPatch",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Domainrobot-Pin",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-User",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Demo",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-SessionId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-WS",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Bulk-Limit",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "sources",
          "required" : false,
          "schema" : {
            "originalRef" : "BulkRedirectPatchRequest",
            "$ref" : "#/definitions/BulkRedirectPatchRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "originalRef" : "JsonResponseDataListJsonResponseDataRedirect",
              "$ref" : "#/definitions/JsonResponseDataListJsonResponseDataRedirect"
            },
            "responseSchema" : {
              "originalRef" : "JsonResponseDataListJsonResponseDataRedirect",
              "$ref" : "#/definitions/JsonResponseDataListJsonResponseDataRedirect"
            }
          }
        }
      }
    },
    "/bulk/zone" : {
      "post" : {
        "tags" : [ "Zone Bulk Tasks" ],
        "summary" : "Create Zones",
        "description" : "Create a zone.",
        "operationId" : "zoneCreates",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Domainrobot-Pin",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-User",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Demo",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-SessionId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-WS",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Bulk-Limit",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "zones",
          "required" : false,
          "schema" : {
            "originalRef" : "BulkZonePostRequest",
            "$ref" : "#/definitions/BulkZonePostRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "originalRef" : "JsonResponseDataListJsonResponseDataZone",
              "$ref" : "#/definitions/JsonResponseDataListJsonResponseDataZone"
            },
            "responseSchema" : {
              "originalRef" : "JsonResponseDataListJsonResponseDataZone",
              "$ref" : "#/definitions/JsonResponseDataListJsonResponseDataZone"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Zone Bulk Tasks" ],
        "summary" : "Delete Zones",
        "description" : "Delete an existing zone.",
        "operationId" : "zoneDeletes",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Domainrobot-Pin",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-User",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Demo",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-SessionId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-WS",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Bulk-Limit",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "zones",
          "required" : false,
          "schema" : {
            "originalRef" : "BulkZoneDeleteRequest",
            "$ref" : "#/definitions/BulkZoneDeleteRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "originalRef" : "JsonResponseDataListJsonResponseDataZone",
              "$ref" : "#/definitions/JsonResponseDataListJsonResponseDataZone"
            },
            "responseSchema" : {
              "originalRef" : "JsonResponseDataListJsonResponseDataZone",
              "$ref" : "#/definitions/JsonResponseDataListJsonResponseDataZone"
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Zone Bulk Tasks" ],
        "summary" : "Update Zones",
        "description" : "Update existings zone.",
        "operationId" : "zonePatch",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Domainrobot-Pin",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-User",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Demo",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-SessionId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-WS",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Bulk-Limit",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "zones",
          "required" : false,
          "schema" : {
            "originalRef" : "BulkZonePatchRequest",
            "$ref" : "#/definitions/BulkZonePatchRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "originalRef" : "JsonResponseDataListJsonResponseDataZone",
              "$ref" : "#/definitions/JsonResponseDataListJsonResponseDataZone"
            },
            "responseSchema" : {
              "originalRef" : "JsonResponseDataListJsonResponseDataZone",
              "$ref" : "#/definitions/JsonResponseDataListJsonResponseDataZone"
            }
          }
        }
      }
    },
    "/bulk/zone/_comment" : {
      "put" : {
        "tags" : [ "Zone Bulk Tasks" ],
        "summary" : "Update Zone Comment",
        "description" : "Update an existing zone.",
        "operationId" : "zoneUpdateComments",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Domainrobot-Pin",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-User",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Demo",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-SessionId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-WS",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Bulk-Limit",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "zones",
          "required" : false,
          "schema" : {
            "originalRef" : "BulkZoneCommentRequest",
            "$ref" : "#/definitions/BulkZoneCommentRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "originalRef" : "JsonResponseDataListJsonResponseDataZone",
              "$ref" : "#/definitions/JsonResponseDataListJsonResponseDataZone"
            },
            "responseSchema" : {
              "originalRef" : "JsonResponseDataListJsonResponseDataZone",
              "$ref" : "#/definitions/JsonResponseDataListJsonResponseDataZone"
            }
          }
        }
      }
    },
    "/bulk/zone/_import" : {
      "post" : {
        "tags" : [ "Zone Bulk Tasks" ],
        "summary" : "Import Zones",
        "description" : "Import the specified zone.",
        "operationId" : "zoneImports",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Domainrobot-Pin",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-User",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Demo",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-SessionId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-WS",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Bulk-Limit",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "zones",
          "required" : false,
          "schema" : {
            "originalRef" : "BulkZonePostRequest",
            "$ref" : "#/definitions/BulkZonePostRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "originalRef" : "JsonResponseDataListJsonResponseDataZone",
              "$ref" : "#/definitions/JsonResponseDataListJsonResponseDataZone"
            },
            "responseSchema" : {
              "originalRef" : "JsonResponseDataListJsonResponseDataZone",
              "$ref" : "#/definitions/JsonResponseDataListJsonResponseDataZone"
            }
          }
        }
      }
    },
    "/certificate" : {
      "post" : {
        "tags" : [ "Certificate Tasks" ],
        "summary" : "Create Certificate",
        "description" : "Order a new certificate. The operation is asynchronous and creates a job.",
        "operationId" : "certificateCreate",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Domainrobot-Pin",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-User",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Demo",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-SessionId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-WS",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Bulk-Limit",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "certificate",
          "required" : false,
          "schema" : {
            "originalRef" : "Certificate",
            "$ref" : "#/definitions/Certificate"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "originalRef" : "JsonResponseDataObjectJob",
              "$ref" : "#/definitions/JsonResponseDataObjectJob"
            },
            "responseSchema" : {
              "originalRef" : "JsonResponseDataObjectJob",
              "$ref" : "#/definitions/JsonResponseDataObjectJob"
            }
          }
        }
      }
    },
    "/certificate/_prepareOrder" : {
      "post" : {
        "tags" : [ "Certificate Tasks" ],
        "summary" : "Prepare certificate order",
        "description" : "Prepare a certificate order. This call checks the csr and generates authentication data required for further calls like order, renew, reissue, revoke, delete.",
        "operationId" : "certificatePrepareOrder",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Domainrobot-Pin",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-User",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Demo",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-SessionId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-WS",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Bulk-Limit",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "certificateData",
          "required" : false,
          "schema" : {
            "originalRef" : "CertificateData",
            "$ref" : "#/definitions/CertificateData"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "originalRef" : "JsonResponseDataCertificateData",
              "$ref" : "#/definitions/JsonResponseDataCertificateData"
            },
            "responseSchema" : {
              "originalRef" : "JsonResponseDataCertificateData",
              "$ref" : "#/definitions/JsonResponseDataCertificateData"
            }
          }
        }
      }
    },
    "/certificate/_search" : {
      "post" : {
        "tags" : [ "Certificate Tasks" ],
        "summary" : "List Certificates",
        "description" : "Inquire a list of certificates with certain details. The data to be displayed can be extended per url paremeter.",
        "operationId" : "certificateList",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Domainrobot-Pin",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-User",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Demo",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-SessionId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-WS",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Bulk-Limit",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "query",
          "required" : false,
          "schema" : {
            "originalRef" : "Query",
            "$ref" : "#/definitions/Query"
          }
        }, {
          "name" : "keys",
          "in" : "query",
          "description" : "The query parameter to fetch additional details.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string",
            "example" : "?keys[]=comment",
            "enum" : [ "{comment", "type", "certificate_type}" ]
          },
          "collectionFormat" : "multi",
          "x-example" : "?keys[]=comment"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "originalRef" : "JsonResponseDataCertificate",
              "$ref" : "#/definitions/JsonResponseDataCertificate"
            },
            "responseSchema" : {
              "originalRef" : "JsonResponseDataCertificate",
              "$ref" : "#/definitions/JsonResponseDataCertificate"
            }
          }
        }
      }
    },
    "/certificate/{id}" : {
      "get" : {
        "tags" : [ "Certificate Tasks" ],
        "summary" : "Get Certificate",
        "description" : "Inquire the data for the specified certificate.",
        "operationId" : "certificateinfo",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Domainrobot-Pin",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-User",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Demo",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-SessionId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-WS",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Bulk-Limit",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "originalRef" : "JsonResponseDataCertificate",
              "$ref" : "#/definitions/JsonResponseDataCertificate"
            },
            "responseSchema" : {
              "originalRef" : "JsonResponseDataCertificate",
              "$ref" : "#/definitions/JsonResponseDataCertificate"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Certificate Tasks" ],
        "summary" : "Reissue Certificate",
        "description" : "Reissue an existing certificate. The operation is asynchronous and creates a job.",
        "operationId" : "certificateReissue",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Domainrobot-Pin",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-User",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Demo",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-SessionId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-WS",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Bulk-Limit",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "certificate",
          "required" : false,
          "schema" : {
            "originalRef" : "Certificate",
            "$ref" : "#/definitions/Certificate"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "originalRef" : "JsonResponseDataObjectJob",
              "$ref" : "#/definitions/JsonResponseDataObjectJob"
            },
            "responseSchema" : {
              "originalRef" : "JsonResponseDataObjectJob",
              "$ref" : "#/definitions/JsonResponseDataObjectJob"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Certificate Tasks" ],
        "summary" : "Delete Certificate",
        "description" : "Delete an existing certificate. The operation is asynchronous and creates a job.",
        "operationId" : "certificateDelete",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Domainrobot-Pin",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-User",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Demo",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-SessionId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-WS",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Bulk-Limit",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "originalRef" : "JsonResponseDataObjectJob",
              "$ref" : "#/definitions/JsonResponseDataObjectJob"
            },
            "responseSchema" : {
              "originalRef" : "JsonResponseDataObjectJob",
              "$ref" : "#/definitions/JsonResponseDataObjectJob"
            }
          }
        }
      }
    },
    "/certificate/{id}/_comment" : {
      "put" : {
        "tags" : [ "Certificate Tasks" ],
        "summary" : "Update Certificate Comment",
        "description" : "Update a comment for an existing certificate.",
        "operationId" : "certificateCommentUpdate",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Domainrobot-Pin",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-User",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Demo",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-SessionId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-WS",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Bulk-Limit",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "certificate",
          "required" : false,
          "schema" : {
            "originalRef" : "Certificate",
            "$ref" : "#/definitions/Certificate"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "originalRef" : "JsonResponseDataVoid",
              "$ref" : "#/definitions/JsonResponseDataVoid"
            },
            "responseSchema" : {
              "originalRef" : "JsonResponseDataVoid",
              "$ref" : "#/definitions/JsonResponseDataVoid"
            }
          }
        }
      }
    },
    "/certificate/{id}/_renew" : {
      "put" : {
        "tags" : [ "Certificate Tasks" ],
        "summary" : "Renew Certificate",
        "description" : "Renew an existing certificate. The operation is asynchronous and creates a job.",
        "operationId" : "certificateRenew",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Domainrobot-Pin",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-User",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Demo",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-SessionId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-WS",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Bulk-Limit",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "certificate",
          "required" : false,
          "schema" : {
            "originalRef" : "Certificate",
            "$ref" : "#/definitions/Certificate"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "originalRef" : "JsonResponseDataObjectJob",
              "$ref" : "#/definitions/JsonResponseDataObjectJob"
            },
            "responseSchema" : {
              "originalRef" : "JsonResponseDataObjectJob",
              "$ref" : "#/definitions/JsonResponseDataObjectJob"
            }
          }
        }
      }
    },
    "/certificate/{id}/_revoke" : {
      "delete" : {
        "tags" : [ "Certificate Tasks" ],
        "summary" : "Revoke Certificate",
        "description" : "Revoke an existing certificate. The operation is asynchronous and creates a job.",
        "operationId" : "certificateRevoke",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Domainrobot-Pin",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-User",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Demo",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-SessionId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-WS",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Bulk-Limit",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "certificate",
          "required" : false,
          "schema" : {
            "originalRef" : "Certificate",
            "$ref" : "#/definitions/Certificate"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "originalRef" : "JsonResponseDataObjectJob",
              "$ref" : "#/definitions/JsonResponseDataObjectJob"
            },
            "responseSchema" : {
              "originalRef" : "JsonResponseDataObjectJob",
              "$ref" : "#/definitions/JsonResponseDataObjectJob"
            }
          }
        }
      }
    },
    "/contact" : {
      "post" : {
        "tags" : [ "Contact Tasks" ],
        "summary" : "Create Contact",
        "description" : "Create a new domain contact.",
        "operationId" : "contactCreate",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Domainrobot-Pin",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-User",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Demo",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-SessionId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-WS",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Bulk-Limit",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "contact",
          "required" : false,
          "schema" : {
            "originalRef" : "Contact",
            "$ref" : "#/definitions/Contact"
          },
          "x-examples" : {
            "application/json" : "{\n  \"alias\": \"John-Doe-1\",\n  \"type\": \"PERSON\",\n  \"organization\": \"Company\",\n  \"title\": \"Dr.\",\n  \"city\": \"Anytown\",\n  \"country\": \"DE\",\n  \"state\": \"BY\",\n  \"email\": \"john.doe@domain.com\",\n  \"fname\": \"John\",\n  \"lname\": \"Doe\",\n  \"address\": [\n    \"addbfdgfdgfdress\"\n  ],\n  \"pcode\": \"12345\",\n  \"phone\": \"+49-123-12345\",\n  \"fax\": \"+49-123-12345\"\n}"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "originalRef" : "JsonResponseDataContact",
              "$ref" : "#/definitions/JsonResponseDataContact"
            },
            "responseSchema" : {
              "originalRef" : "JsonResponseDataContact",
              "$ref" : "#/definitions/JsonResponseDataContact"
            }
          }
        }
      }
    },
    "/contact/_search" : {
      "post" : {
        "tags" : [ "Contact Tasks" ],
        "summary" : "List Contact",
        "description" : "Inquire a list of contacts with certain details. The data to be displayed can be extended per url paremeter.",
        "operationId" : "contactList",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Domainrobot-Pin",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-User",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Demo",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-SessionId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Context",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-WS",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Bulk-Limit",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "query",
          "required" : false,
          "schema" : {
            "originalRef" : "Query",
            "$ref" : "#/definitions/Query"
          }
        }, {
          "name" : "keys",
          "in" : "query",
          "description" : "The query parameter to fetch additional details.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string",
            "example" : "?keys[]=email",
            "enum" : [ "{email", "sip", "remarks", "domainsafe", "comment}" ]
          },
          "collectionFormat" : "multi",
          "x-example" : "?keys[]=email"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "originalRef" : "JsonResponseDataContact",
              "$ref" : "#/definitions/JsonResponseDataContact"
            },
            "responseSchema" : {
              "originalRef" : "JsonResponseDataContact",
              "$ref" : "#/definitions/JsonResponseDataContact"
            }
          }
        }
      }
    },
    "/contact/verification/_search" : {
      "post" : {
        "tags" : [ "ContactVerification Tasks" ],
        "summary" : "List ContactVerification",
        "description" : "Inquire a list of contactVerifications with certain details. The data to be displayed can be extended per url paremeter.",
        "operationId" : "verificationList",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "X-Domainrobot-Pin",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Domainrobot-Owner-User",
          "in" : "header",
          "required" : false,
[...]
